{% load static %} {% load mptt_tags %}
<link rel="stylesheet" href=" {% static 'assets/styles/header/header.css' %}" />
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
/>
<link
  rel="stylesheet"
  href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
/>

<!-- Ajax for wishlist -->
<!-- Ajax link -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<!-- End Ajax for wishlist -->

<!-- End google fonts  -->
<header class="main-header">
  <nav class="nav-header">
    <ul class="about-shop onlydestok">
      <li class="shop nav__item dropdown" id="storeId">
        <a class="store-link" href="{% url 'store' %}">
          <span>Shop</span>
          <i class="bx bxs-chevron-down dropdown__icon"></i>
        </a>
        <!-- Big Menu elements  -->
        {% include './bigmenu.html' %}

        <!-- End Big Menu elements  -->
      </li>
      <li class="about"><a href="{% url 'about' %}">About</a></li>
    </ul>
    <div class="header-middle">
      <a href="{% url 'home' %}"
        ><img
          src="{% static 'assets/imgs/logoParisianist.png' %}"
          alt="logo parisianist"
      /></a>
    </div>
    <div class="menu-overlay onlymobile"></div>
    <ul class="menu">
      <!-- Header -->
      <li class="menu-header onlymobile">
        <ul class="header-mobile">
          <li class="logo-mobile">
            <a href="{% url 'home' %}"
              ><img
                src="{% static 'assets/imgs/logoParisianist.png' %}"
                alt="parisianist logo"
            /></a>
          </li>
          <li class="modal-close">
            <span class="material-symbols-outlined"> close </span>
          </li>
        </ul>
      </li>
      <!-- categories -->
      <li class="menu-catgories onlymobile">
        <ul>
          <li class="all"><a href="{% url 'store' %}">All</a></li>
          <li class="categories">
            {% recursetree catlinks %}
            <ul>
              <li class="cat">
                <a href="{{ node.get_absolute_url }}">{{ node.name}}</a>
              </li>
              {% if not node.is_leaf_node %}
              <li
                class="subcat {% if node.level == 1 %}class_1{% elif node.level == 2 %}class_2{% endif %}"
              >
                <span class="material-symbols-outlined"> chevron_right </span>
                <a href="">{{ children }}</a>
              </li>
              {% endif %}
            </ul>
            {% endrecursetree %}
          </li>
        </ul>
      </li>
      <li class="menu-about onlymobile">
        <a href="{% url 'about' %}">About</a>
      </li>

      <!-- Main menu -->
      <li class="main-menu">
        <ul>
          <li class="searchicon" id="search-modal-btn-id">
            <span class="material-symbols-outlined"> search </span>
          </li>

          <!-- User is authentificated -->

          {% if user.is_authenticated %}
          <li class="usericon usericon-only-desktop" id="account_modal_btn">
            <span class="material-symbols-outlined"> manage_accounts </span>
          </li>
          <li class="heart-basket-iconMobile onlydesktop-icon">
            <a href="{% url 'wishlist' %}">
              <span class="material-symbols-outlined"> favorite </span>
              <div id="wishlist-counter" class="favorite-counter">
                <span class="wishlist-counter-span">{{ wishlist_count }}</span>
              </div>
            </a>
          </li>
          <li class="heart-basket-iconMobile">
            <a href="{% url 'cart' %}">
              <span class="material-symbols-outlined"> local_mall </span>
              <div class="basket-counter">
                  {% if cart_count > 0 %}
                      <span>{{ cart_count }}</span>
                  {% endif %}
              </div>
          </a>
          </li>
          <!-- User is not authentificated -->
          {% else %}
          <li class="usericon usericon-only-desktop" id="login_modal_btn">
            <span class="material-symbols-outlined"> person </span>
          </li>
          <li class="usericon onlymobile">
            <a href="{% url 'login' %}"
              ><span class="material-symbols-outlined"> person </span></a
            >
          </li>
          <!-- <li class="heart-basket-iconMobile onlydesktop-icon">
            <a href=""
              >
              <span class="material-symbols-outlined"> favorite </span>
              </a>
          </li> -->
          <li class="heart-basket-iconMobile">
            <a href="{% url 'cart' %}">
              <span class="material-symbols-outlined"> local_mall </span>
              <div class="basket-counter">
                  {% if cart_count > 0 %}
                      <span>{{ cart_count }}</span>
                  {% endif %}
              </div>
          </a>
          </li>

          {% endif %}
        </ul>
      </li>
      <!-- Menu footer -->
      {% if user.is_authenticated %}
      <li class="footer-menu onlymobile">
        <ul>
          <li class="">
            <a href="{% url 'my_orders' %}">
              <span class="material-symbols-outlined"> list_alt </span>
              <span>Orders</span>
            </a>
          </li>
          <li>
            <a href="{% url 'wishlist' %}">
              <span class="material-symbols-outlined"> heart_plus </span>
              <span>Wishlist</span>
            </a>
          </li>
          {% if user.is_superuser %}
          <li>
            <a href="{% url 'admin:index' %}">
              <span class="material-symbols-outlined">
                admin_panel_settings
              </span>
              <span>Admin</span>
            </a>
          </li>
          {% endif %}
          <li>
            <a href="{% url 'dashboard' %}">
              <span class="material-symbols-outlined"> account_circle </span>
              <span>User account</span>
            </a>
          </li>

          <li>
            <a href="{% url 'logout' %}">
              <span class="material-symbols-outlined"> logout </span>
              <span>Sign up</span>
            </a>
          </li>
        </ul>
      </li>
      {% endif %}
    </ul>
    <!-- Menu Icon right-->
    <ul class="menu-icon-right onlymobile">
      {% if user.is_authenticated %}
      <li class="heart-basket-iconMobile myfavorites">
        <a href="{% url 'wishlist' %}">
          <span class="material-symbols-outlined"> favorite </span>
          <div id="wishlist-counter" class="favorite-counter">
            <span class="wishlist-counter-span">{{ wishlist_count }}</span>
          </div>
        </a>
      </li>
      {% else %}
      <li class="usericon onlymobile">
        <a href="{% url 'login' %}"
          ><span class="material-symbols-outlined"> person </span></a
        >
      </li>
      {% endif %}
      <li class="heart-basket-iconMobile mybaskets">
        <a href="{% url 'cart' %}">
          <span class="material-symbols-outlined"> local_mall </span>
          <div class="basket-counter">
              {% if cart_count > 0 %}
                  <span>{{ cart_count }}</span>
              {% endif %}
          </div>
      </a>
      </li>
      <li class="menu-open" id="menu-open">
        <span class="material-symbols-outlined">menu</span>
      </li>
    </ul>
    <!-- Search bar -->
  </nav>
  <!-- Start search modal -->
  {% include './search-modal.html' %}
  <!-- End search modal -->
</header>

<!-- Start Account part -->
{% include '../account/login_header_modal.html' %}
<!-- End Account part -->

<!-- Start Account part -->
{% include '../account/account-modal.html' %}
<!-- End Account part -->
<!-- End Account part -->
<script>
  const menu = document.querySelector(".menu");
  const menuTrigger = document.querySelector(".menu-open");
  const closeMenu = menu.querySelector(".modal-close");

  console.log("first");

  menuTrigger.addEventListener("click", () => {
    toggleMenu();
  });
  closeMenu.addEventListener("click", () => {
    toggleMenu();
  });
  document.querySelector(".menu-overlay").addEventListener("click", () => {
    toggleMenu();
  });

  function toggleMenu() {
    menu.classList.toggle("active");
    document.querySelector(".menu-overlay").classList.toggle("active");
  }

  window.onresize = function () {
    if (this.innerWidth > 991) {
      if (menu.classList.contains("active")) {
        toggleMenu();
      }
    }
  };
</script>



<script>
$(document).ready(function() {
    var wishlistCount = parseInt("{{ wishlist_count }}");


    function updateWishlistCounter(count) {
      var counterElement = $('#wishlist-counter');
      if (count > 0) {
        counterElement.text(count);
      } else {
        counterElement.text('');
      }
    }

    // Initial update of wishlist counter
    updateWishlistCounter(wishlistCount);
});
</script>
