{% load static %} {% load mptt_tags %}
<link rel="stylesheet" href=" {% static 'assets/styles/header/header.css' %}" />
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
/>
<link
  rel="stylesheet"
  href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
/>
<!-- End google fonts  -->
<header class="main-header">
  <nav class="nav-header">
    <ul class="about-shop onlydestok">
      <li class="shop">
        <a href="">
          Shop
          <i class="bx bxs-chevron-down dropdown__icon"></i>
        </a>
      </li>
      <li class="about"><a href="">About</a></li>
    </ul>
    <div class="header-middle">
      <a href=""
        ><img
          src="{% static 'assets/imgs/logoParisianist.png' %}"
          alt="logo parisianist"
      /></a>
    </div>
    <div class="menu-overlay onlymobile"></div>
    <ul class="menu">
      <!-- Header -->
      <li class="menu-header onlymobile">
        <ul class="header-mobile">
          <li class="logo-mobile">
            <a href=""
              ><img
                src="{% static 'assets/imgs/logoParisianist.png' %}"
                alt="parisianist logo"
            /></a>
          </li>
          <li class="modal-close">
            <span class="material-symbols-outlined"> close </span>
          </li>
        </ul>
      </li>
      <!-- categories -->
      <li class="menu-catgories onlymobile">
        <ul>
          <li class="all"><a href="">All</a></li>
          <li class="categories">
            <ul>
              <li class="cat"><a href="">Men</a></li>
              <li class="subcat">
                <span class="material-symbols-outlined"> chevron_right </span>
                <a href="">Even Keol</a>
              </li>
              <li class="subcat">
                <span class="material-symbols-outlined"> chevron_right </span>
                <a href="">Don Tens</a>
              </li>
              <li class="subcat">
                <span class="material-symbols-outlined"> chevron_right </span>
                <a href="">Rivo Loz</a>
              </li>
            </ul>
            <ul>
              <li class="cat"><a href="">Women</a></li>
              <li class="subcat">
                <span class="material-symbols-outlined"> chevron_right </span>
                <a href="">Reven Keoli</a>
              </li>
              <li class="subcat">
                <span class="material-symbols-outlined"> chevron_right </span>
                <a href="">Adom Kalis</a>
              </li>
              <li class="subcat">
                <span class="material-symbols-outlined"> chevron_right </span>
                <a href="">Zen Bekop</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li class="menu-about onlymobile"><a href="">About</a></li>

      <!-- Main menu -->
      <li class="main-menu">
        <ul>
          <li class="searchicon" id="search-modal-btn-id">
            <span class="material-symbols-outlined"> search </span>
          </li>
          <li class="usericon usericon-only-desktop">
            <span class="material-symbols-outlined"> person </span>
          </li>
          <li class="usericon onlymobile">
            <a href=""
              ><span class="material-symbols-outlined"> person </span></a
            >
          </li>
          <li class="heart-basket-iconMobile onlydesktop-icon">
            <a href=""
              >
              <span class="material-symbols-outlined"> favorite </span>
              <div id="wishlist-counter" class="favorite-counter"><span>{{ wishlist_count }}</span></div>

              </a>
          </li>
          <li class="heart-basket-iconMobile">
            <a href="">
              <span class="material-symbols-outlined"> local_mall </span>
              <div class="basket-counter"><span>{{cart_count}}</span></div>
              </a
            >
          </li>
        </ul>
      </li> 
      <!-- Menu footer -->
      <li class="footer-menu onlymobile">
        <ul>
          <li class="">
            <a href="">
            <span class="material-symbols-outlined">
              list_alt
              </span>
              <span>Orders</span>
          </a>
        </li>
          <li>
            <a href="">
              <span class="material-symbols-outlined">
                admin_panel_settings
                </span>
                <span>Admin</span>
            </a>
          </li>
          <li>
            <a href="">
              <span class="material-symbols-outlined">
                account_circle
                </span>
                <span>User account</span>
            </a>
          </li>

          <li>
            <a href="">
              <span class="material-symbols-outlined">
                heart_plus
                </span>
                <span>Wishlist</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
    <ul class="menu-icon-right onlymobile">
      <li class="heart-basket-iconMobile myfavorites">
        <a href=""
          >
          <span class="material-symbols-outlined"> favorite </span>
          <div id="wishlist-counter" class="favorite-counter"><span>{{ wishlist_count }}</span></div>

          </a>
      </li>
      <li class="heart-basket-iconMobile mybaskets">
        <a href="">
          <span class="material-symbols-outlined"> local_mall </span>
          <div class="basket-counter"><span>{{cart_count}}</span></div>
          </a
        >
      </li>
      <li class="menu-open" id="menu-open">
        <span class="material-symbols-outlined">menu</span>
      </li>
    </ul>
    <!-- Search bar -->

  </nav>

</header>

  {% include './search-modal.html' %}


<!-- End Account part -->
<script></script>
