{% extends '../base.html' %} {% load static %} {% block title %}Everything about
Parisianist{% endblock %} {% block content %}
<link rel="stylesheet" href=" {% static 'assets/styles/home/about.css' %}" />

<div class="about-container">
  <div class="about-logo">
    <img src="{% static 'assets/imgs/blacklogo.png' %}" alt=""/>
  </div>

  <div class="the-name">
    <h2>The brand</h2>
    <p>
      Parisianist is a French ready-to-wear brand for men and women founded by Rare
Chandelier.
The founder and artistic director draws his inspiration from the 3 main artistic fields of
fashion, art and music and intends to convey a movement which offers a collaboration in
perfect harmony of these 3 fields.
As a result, he aims to collaborate with new wave talents from different artistic backgrounds
(architects, musicians, dancers, actors, directors, painters, sculptors, etc.)
    </p>
  </div>
  
  <div class="the-brand">
    <h2>The name</h2>
    <p>
      The name Parisianist comes from the term “Parisianism” which initially designates linguistic
      and cultural traits specific to Parisians. At the end of the 16th century, it designated a “way of
      speaking specific to Parisians” although it has very recently taken on a pejorative
      connotation designating a form of Parisian ethnocentrism.
      The brand DNA focuses on the idea of being a major player in the promotion of French
      aesthetics and know-how internationally
      Finally, the name Parisianist can also be presented as a religion based on the charm of
      Parisian culture.
    </p>
  </div>
  <div class="the-aesthetic">
    <h2>The aesthetic</h2>
    <p>
      The brand is intentionally minimalist, the cuts are refined and creative to offer an elegant
silhouette. Inspired by the rigor and aesthetics of haute couture houses, it offers a timeless,
sophisticated Parisian style and is made with materials selected for their quality and
designed to be worn every day and for special occasions.
Each campaign must convey a poetic, elegant and artistic aesthetic.
    </p>
  </div>
  <div class="the-inspiration">
    <h2>The inspiration</h2>
    <p>
      The brand mainly draws its influences from the fields of fashion, art and music. The style of
      Parisian icon Carine Roitfeld is a major source of inspiration, but also that of actress Audrey
      Hepburn in her most iconic films. The brand is an admirer of French chic popularized by
      brands such as Chanel or Saint Laurent. In addition, Parisianist adores the elegant
      photography of photographer Guy Bourdin. Finally, she draws her inspiration from Parisian
      architecture, museums and 5-star hotels.
    </p>
  </div>

  <div class="the-goal">
    <h2>The goal</h2>
    <p>
      The brand aims to be a showcase of French aesthetics and know-how internationally and
      aims to collaborate with major French luxury brands.
      Its aim is to become essential in the positioning of luxury ready-to-wear in order to join the
      pantheon of haute couture houses, which influenced it, on avenue Montaigne.
    </p>
  </div>

  <div class="about-store-image">
    <img src="{% static 'assets/imgs/psf.jpg' %}" alt=""/>
  </div>
</div>

{% endblock %}
