{% extends '../base.html' %} 
{% load static %} 
{% block title %} Legal notice {% endblock %} 

{% block content %}
<link rel="stylesheet" href=" {% static 'assets/styles/policy/policy.css' %}" />

<div class="policy-container">
  <div class="policy-header">
    <h4>Legal notice</h4>
  </div>
  <div class="policy-content">
    <div class="policy-one">
      <p>
        The website www.parisianist.fr is published by Parisianist SARL, a limited liability company
registered with the Trade and Companies Register of Paris under the no. 980 018 840, whose
Intracommunity VAT number is FR 15 890 018 840.
      </p>
      
<a href="">Email : customercare@parisianist.fr</a>
    </div>
  </div>
</div>

<!-- Start FOOTER -->
<!-- End FOOTER -->
{% endblock content %}
