{% extends '../base.html' %} {% load static %} {% block title %} Privacy Policy
{% endblock %} {% block content %}
<link rel="stylesheet" href=" {% static 'assets/styles/policy/policy.css' %}" />

<div class="policy-container">
  <div class="policy-header">
    <h4>Privacy Policy</h4>
  </div>
  <div class="policy-content">
    <div class="policy-one">
      <ul class="head-policy">
        <li>
          PARISIANIST&quot; trading company SIRET Number: 980 018 840 registered
          in FRANCE, takes your data protection rights and our legal obligations
          seriously. This Privacy Policy describes how we use your personal data
          collected via www.parisianist.fr.
        </li>

        <li>
          By using the Site, you acknowledge that you have read the terms of
          this privacy policy.
        </li>
        <li>Type of Data Collection</li>
        <li>
          We will collect various types of personal data about you for the
          purposes described in this Policy, including:
        </li>
      </ul>

      <ul class="centered-policy">
        <li>
          - Contact details: surname, forename, email address, gender, telephone
          number, birthday, language, device preferences and location.
        </li>
        <li>
          - Delivery information: personal address (surname/name, street,
          postcode, town, country and delivery notes)
        </li>
        <li>- Newsletter opt-in: Date of opt-in, IP address</li>
        <li>- Purchase history at PARISIANIST</li>
        <li>- Product viewing history at PARISIANIST</li>
        <li>
          - Transaction details: Online transaction information (payment method,
          internal purchase number, card type, last 4 digits of the card,
          expiration date). Payments are managed by online specialists depending
          on the payment method: your full card number and the security code is
          not accessible.
        </li>
        <li>
          - Information relating to transactions with us involving details of
          goods that we have supplied to you
        </li>
        <li>
          - Internet pages you have visited immediately before coming to the
          Site or pages you visit immediately after leaving the Site.
        </li>
      </ul>

      <ul class="centered-policy-p">
        <li>Protection of Personal</li>
        <li>
          Data We take reasonable steps to protect your personal data, we
          cannot guarantee that the personal data you disclose to us will be
          100% secure, nor that any data breach will not occur. You accept the
          inherent security implications of dealing on-line over the Internet
          and will not hold PARISIANIST for any data breach unless it is due to
          our negligence.
        </li>
        <li>Use of collected Personal Data</li>
      </ul>

      <ul class="centered-policy-ca">
        <li>
          - To ensure a personal navigation experience : offering suggested
          product page history and personal recommendations.
        </li>
        <li>
          - For fast and seamless delivery (using your previous delivery
          information).
        </li>
        <li>- Newsletter opt-in: Date of opt-in, IP address</li>
        <li>- To guarantee an efficient customer/client relationship</li>
        <li>
          - For the ability to provide accounting, generate invoices and prove
          the accounting/tax of our transactions
        </li>
        <li>- To avoid fraud, including detecting unusual transactions</li>
        <li>
          - To be able to offer you commercial operations corresponding to your
          profile. These business proposals can be achieved through customer
          segmentation, buying habits, average shopping cart, sales history and
          product pages
        </li>
      </ul>
      <ul class="centered-policy-caxs">
        <li>Retention of Your Personal Data</li>
        <li>We process personal data only for so
          long as it is necessary for the purpose(s) for which it was originally
          collected, after which it will be deleted or archived except to the
          extent that it is necessary for us to continue to process it for the
          purpose of compliance with legal obligations to which we are subject or
          for another legitimate and lawful purpose.</li>
        <li>Your Rights</li>
        <li>In accordance
          with the applicable regulations, you have the following rights relating
          to the protection of your personal data:</li>
      </ul>
      <ul class="centered-policy-end">
        <li>- 
          You may request access to the personal data concerned by contacting us
          at contact@parisianist.fr
        </li>
        <li>- 
          You may request that any incorrect personal data about you that we are
          processing be rectified.
        </li>
        <li>- 
          You may request to delete all the personal data by contacting us at
          contact@parisianist.fr
        </li>
        <li>- 
          In certain circumstances you may be entitled to request that we erase
          the personal data concerned.
        </li>
        <li>- 
          Where we are processing personal data relating to you on the basis of
          your prior consent to that processing, you may withdraw your consent
          at any time, after which we shall stop the processing concerned. If
          you do withdraw your consent here, please note that this may affect
          our ability to provide you with our goods or services.
        </li>
        <li>- 
          If you have a complaint about any processing of your personal data
          being conducted by us, you can contact us or lodge a formal compliant
          with the Information Commissioner.
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- Start FOOTER -->
<!-- End FOOTER -->
{% endblock content %}
