{% extends '../base.html' %} {% load static %} {% block title %} Refund Policy
{% endblock %} {% block content %}
<link rel="stylesheet" href=" {% static 'assets/styles/policy/refund.css' %}" />

<div class="policy-container">
  <div class="policy-header">
    <h4>Refund Policy</h4>
  </div>
  <div class="policy-content">
    <div class="policy-one">
      <ul>
        <li><h5>How do I return an item?</h5></li>
        <li>
          In order to return an item, it is necessary to make a return request.
        </li>
      </ul>
      <ul>
        <li>1. If you have created an account</li>
        <li>
          Log in to your account, access the order you wish to return and let us
          guide you:
        </li>
        <li>
          - Make a return request by choosing the item(s) to be returned and the
          reason for the return.
        </li>
        <li>
          - Prepare the items to be returned in their original packaging,
          wrapping and condition.
        </li>
      </ul>
      <ul>
        <li>2. If you have not created an account</li>
        <li>
          - Please contact our Customer Service Department at the following
          address:
        </li>
        <li><a href="">customercare@parisianist.fr.</a></li>
        <li>
          We invite you to provide your order number, returned item(s) and
          return reason(s) in your email.
        </li>
        <li>
          - Prepare the items to be returned in their original packaging,
          wrapping and condition.
        </li>
        <li>
          In these two cases, a first email confirming that your request has
          been placed will be sent to you.
        </li>
        <li>
          If your return request is made within 14 days after the date of
          delivery, you will receive a second email notification of acceptance.
        </li>
        <li>
          Once the return request has been accepted by our Customer Service
          department, a prepaid UPS return slip will be sent to you by email. We
          invite you to print it and stick it on the package to be returned.
        </li>
        <li>
          We will not accept any return request made after the deadline, i.e.
          after 14 working days.
        </li>
        <li>
          We process and control returns within 3 to 7 working days from the
          date of receipt in our warehouse. This timeframe may vary depending on
          peak periods. Once your return has been validated by our quality
          department, we will proceed with the refund of the conforming items
          and you will receive a confirmation email. In case of anomaly, the
          non-compliant items will be returned to you.
        </li>
        <li>
          For more information on the conditions for exercising the right of
          withdrawal, please consult the legal notice.
        </li>
      </ul>
      <ul>
        <li><h5>Can I exchange an item ?</h5></li>
        <li>
          We do not accept exchanges. If you wish to exchange an item for
          another size, we invite you to make a return request and place a new
          order for the desired item.
        </li>
      </ul>
      <ul>
        <li><h5>Under what conditions can I return an item ?</h5></li>
        <li>
          Products must be returned in their original condition and packaging,
          with the labels still attached to the product. Incomplete, worn,
          damaged or soiled products cannot be returned.
        </li>
        <li>
          For hygiene reasons, we will not accept the return of masks, tights
          and swimsuits.
        </li>
      </ul>
      <ul>
        <li><h5>How long does it take to return items?</h5></li>
        <li>
          You have 14 days starting from the receipt of your order to make a
          return request by logging into your account or by contacting Customer
          Service at the following address:
          <a href="">customercare@parisianist.fr</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- Start FOOTER -->
<!-- End FOOTER -->
{% endblock content %}
