{% extends '../base.html' %} 
{% load static %} 
{% block title %} Terms of sales {% endblock %} 

{% block content %}
<link rel="stylesheet" href=" {% static 'assets/styles/policy/policy.css' %}" />

<div class="policy-container">
  <div class="policy-header">
    <h4>Terms of sales</h4>
  </div>
  <div class="policy-content">
    <div class="policy-one">
      <p>
        Under construction
      </p>
    </div>
  </div>
</div>

<!-- Start FOOTER -->
<!-- End FOOTER -->
{% endblock content %}
