{% load static %}

<div class="summary-and-payment-contents" id="sap">
  <ul>
    <!-- Personal informations -->
    <li class="summary-personal-infos">
      <ul>
        <li class="p-infos">Personal informations</li>
        <li class="p-email">{{order.email}}</li>
      </ul>
    </li>
    <!-- End Personal informations -->
    <!-- Shipping information -->
    <li class="shipping-container">
      <ul>
        <li class="shipping">
          <ul>
            <li class="sh-detail">shipping details</li>
            <li class="sh-upadate">uptate shipping details</li>
          </ul>
        </li>
        <li class="fullname">{{order.first_name}} {{order.last_name}}</li>
        <li class="fulladress">
          <ul>
            <li>{{order.address_line_1}} - {{order.postcode}}</li>
            <li>{{order.country}}</li>
            <li>{{order.zip_code}}{{order.phone}}</li>
          </ul>
        </li>
      </ul>
    </li>
    <!-- End Shipping information -->
    <!-- Delivery method -->
    <li class="delivery-method">
      <ul>
        <li class="delivery-method-title">Delivery method</li>
        <li class="method-price">
          <ul>
            <li class="the-method">
              {% if order.delivery_method == 'Colissimo' %} Colissimo ( Delivery within 2-4 days ) 
              {% elif order.delivery_method == 'DHL' %} DHL (Delivery within 1-3 weeks ) {% else %} No delivery method selected
              {% endif %}
            </li>
            <li class="method-price">0 Eur</li>
          </ul>
        </li>
      </ul>
    </li>
    <!-- End delivery method -->
    <!-- Start Billing address -->
    <li class="billing-address">
      <ul>
        <li class="billing-title">
          <ul>
            <li class="bill-addr">Billing Address</li>
            <li class="bill-update">Update billing address</li>
          </ul>
        </li>
        <li class="address-note">
          <select name="" id="">
            <option value="">
              {{order.first_name}} {{order.last_name}},
              {{order.address_line_1}}, {{order.city}}, {{order.postcode}}
            </option>
          </select>
        </li>
      </ul>
    </li>
    <!-- End Billing address -->
    <!-- start of payments methods -->
    <li class="summary-payment-method">
      <ul>
        <li class="summary-payment-title">Payment methods</li>

        {% if order.payment_method == 'Paypal' %}
        <!-- Paypal-->
        <li class="one-payment-method">
          <!-- Set up a container element for the button -->
          <div id="paypal-button-container"></div>

        </li>
        <!-- Paypal -->
        {% endif %}
        <li>
          <div class="mb-6 p-6 bg-gray-100 rounded-xl" id="errors"></div>
        </li>
        <!-- End credit card -->
      </ul>
    </li>
  </ul>
</div>
