<section class="section-conten padding-y bg">
  {% include './include/alerts.html' %}
  <div class="password-container">
    <div class="password-content">
      <main class="password-col-md">
        <article class="password-card">
          <header class="password-card-header">
            <strong class="password-inline-block">Change Your Password</strong>
          </header>
          <div class="password-card-body">
            <div class="password-row">
              <div class="password-form-container">
                <form action="{% url 'change_password' %}" method="POST">
                  {% csrf_token %}
                  <div class="password-form-group">
                    <label>Current Password</label>
                    <input
                      type="password"
                      name="current_password"
                      placeholder="Current Password"
                      class="password-form-control"
                      required
                    />
                  </div>
                  <div class="password-form-group">
                    <label>Create New Password</label>
                    <input
                      type="password"
                      name="new_password"
                      placeholder="Create New Password"
                      class="password-form-control"
                      required
                    />
                  </div>
                  <div class="password-form-group">
                    <label>Confirm New Password</label>
                    <input
                      type="password"
                      name="confirm_password"
                      placeholder="Confirm New Password"
                      class="password-form-control"
                      required
                    />
                  </div>
                  <input class="password-submit" type="submit" value="Submit" class="btn btn-primary" />
                </form>
              </div>
            </div>
            <!-- row.// -->
          </div>
          <!-- card-body .// -->
        </article>
        <!-- order-group.// -->
      </main>
    </div>
    <!-- row.// -->
  </div>
</section>
