{% load static %}

<div class="profile-card-body">
  <div class="profile-row">
    <div class="profile-col">
      {% if messages %}
      <div class="profile-alert" role="alert" id="cart-message">
        {% for message in messages %} 
        {% if 'edit_profile_success' in message.tags %}
        <div class="{{ message.tags }}">{{ message }}</div>
        {% endif %} 
        {% endfor %}
      </div>
      {% endif %}
      <form action="{% url 'edit_profile' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="profile-form-row">
          <div class="profile-form-group">
            <label>First Name</label>
            {{user_form.first_name}}
          </div>
          <div class="profile-form-group">
            <label>Last Name</label>
            {{user_form.last_name}}
          </div>
        </div>
        <div class="profile-form-row">
          <div class="profile-form-group">
            <label>Phone Number</label>
            {{user_form.phone_number}}
          </div>
        </div>
        <div class="profile-form-row">
          <div class="profile-form-group">
            <label>Address Line 1</label>
            {{profile_form.address_line_1}}
          </div>
          <div class="profile-form-group">
            <label>Address Line 2</label>
            {{profile_form.address_line_2}}
          </div>
        </div>
        <div class="profile-form-row">
          <div class="profile-form-group">
            <label>City</label>
            {{profile_form.city}}
          </div>
          <div class="profile-form-group">
            <label>Country</label>
            {{profile_form.country}}
          </div>
        </div>
        <input type="submit" value="Save" class="profile-submit" />
      </form>
    </div>
  </div>
</div>
